body, html {
  /*height: 100%;*/
  margin: -1 -1;
}
.row {
  display: flex;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}




#introImage {
  display: flex;
  /*margin: -10 -10;*/
  background-image: url("images/background1.jpg");
  height: 100%;
  /*height: 105%;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*position: relative;*/

  /* Portfolio 2 Style */
  border-bottom: 3px black solid;

}
#introBox {
  /*background-color: white;*/
  background-color: rgba(250,250,250,.9);
  padding: 1rem;
  margin-top: 10%;
  width: 30%;
  /*
  height: 40%;
  */
  height: 240px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  text-align: center;
  border-radius: 20px;
  
  text-shadow: 2px 2px 6px #D3D3D3; /* AWESOME */
  /*border: 1px black solid;*/
}
@media (max-width: 930px) {
  #introBox {
    width: 40%;
  }
}
@media (max-width: 700px) {
  #introBox {
    width: 60%;
  }
}
@media (max-width: 500px) {
  #introBox {
    width: 80%;
    margin-top: 20%;
  }
}
#introBox h2 {
  font-weight: 400;
  font-size: 30px;
}
#introBox p {
  font-size: 22px;
}
#introBox img {
  margin-top: 2rem;
}
#introBox img:hover {
  width: 85px;
  height: 85px;
  cursor: pointer;
}



#navContainer {
  display: flex;
  /*margin: -10 -10;*/
  background-color: black;
  /*font-family: 'Helvetica';*/
}
#nav3 {
  /*padding: 1rem;*/
  margin-left: 2rem;
}
#mobileAbout {
  display: none;
}
@media (max-width: 700px) {
  #navContainer {
    justify-content: space-around;
  }
  #nav3 {
    margin-left: 0;
    /*margin: 0 2rem;*/
  }
  #mobileAbout {
    display: inline;
  }
  #desktopAbout {
    display: none;
  }
}
#nav3 a {
  padding: 1rem;
  text-decoration: none;
  color: white;
}
#nav3 a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}



/*
#intro span{
  margin-left: 4rem;
  margin-top: 2rem;
  color: white;
  width: 40%;
  padding: 1rem;
  /*height: 120px;*/
  /*padding-top: 33px;*/
  /*text-align: center;*//*
  background-color: rgba(0,0,0,0.4);
  border-radius: 20px;
  /*height: 50%;*/
  /*text-shadow: 2px 2px black;*//*
  text-shadow: 2px 2px 8px black;
  font-family: 'Arial';
  font-size: 20px;
  display: flex;
}
*/


/*
#intro span {
  margin: 1rem;
  background-color: rgba(0,0,0,0.5);;
}


#profilePicContainer {
  width: 30%;
  border: 1px white solid;
}

#profilePic {
  border-radius: 50%;
  /*right: 0;*/
  /*left: auto;*//*
}
*/

.tag {
  background-color: black;
  color: white;
  padding: 1rem;
}
#tag1 {
  margin-left: 2rem;
}
#tag2 {
  margin-left: 5rem;
}
#mobileSkillsTag {
  display: none;
  margin-left: 5rem;
  margin-top: -50;
  position: absolute;
}
@media (max-width: 930px) {
  #tag2 {
    display: none;
  }
  #mobileSkillsTag {
    display: inline;
  }
}
#tag3 {
  margin-left: 8rem;
}
#tag4 {
  margin-left: 11rem;
  font-size: 16px;
  position: absolute;
  margin-top: -45;
}
#tag5 {
  margin-left: 11rem;
}
/*
.tag2 {
  background-color: black;
  color: white;
  margin-left: 2rem;
  padding: .5rem;
  width: 70px;
  text-align: center;
}
*/







#portfolioContainer2 {
  border-bottom: 3px black solid;
  padding-bottom: 3rem;
}

#portfolioTitle {
  text-align: center;
  margin-bottom: 3rem;
}
/*
#imgDiv {
  margin-top: 3rem;
}
*/
#imgDiv img {
  border: 1px black solid;
}
.imgRow {
  margin: 3rem 2rem;
  /*justify-content: space-around;*/
}
#imgBackground1 {
  background-image: url("images/javascriptCalculator.png");
  height: 250px;
  width: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px black solid;
}
#imgBackground2 {
  background-image: url("images/simonGame.png");
  height: 250px;
  width: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px black solid;
}
.imgCard p {
  text-align: center;
}

.imgCard a {
  color: black;
  text-decoration: none;
}

.imgCard a:hover {
  text-decoration: none;
  color: gray;
}
.imgCard img {
  border: 1px black solid;
}

.cardTitle {
  margin-bottom: 0;
  font-size: 120%;
}

.cardSubtitle {
  font-size: 80%;
}

#mobilePortfolioContainer {
  display: none;
  border-bottom: 3px black solid;
  padding-bottom: 3rem;
}
@media (max-width: 930px) {
  #mobilePortfolioContainer {
    display: inline;
  }
  #portfolioContainer2 {
    display: none;
  }
  .imgCard {
    margin: 2rem 0;
  }
  .imgCard img {
    width: 450px;
    height: 312px;
  }
}
@media (max-width: 600px) {
  .imgCard img {
    width: 360px;
    height: 250px;
  }
}







#skillsContainer {
  /*background-color: gray;*/
  /*background-color: #696969;*/
  margin: -18 0 .2rem 0;
  height: 600px;
  border-bottom: 3px black solid;
  padding-top: 2rem;
}
@media (max-width: 930px) {
  #skillsContainer {
    border-top: 3px black solid;
    margin-top: 4rem;
  }
}
#skillsInnerContainer {
  padding: 1rem 10rem;
}
#mobileSkillsInnerContainer {
  display: none;
}
#mobileSkillsInnerContainer2 {
  display: none;
}
@media (max-width: 930px) {
  #mobileSkillsInnerContainer {
    display: inline;
  }
  #skillsInnerContainer {
    display: none;
  }
  #mobileSkillsInnerContainer2 {
    display: none;
  }
}
@media (max-width: 700px) {
  #mobileSkillsInnerContainer2 {
    display: inline;
  }
  #mobileSkillsInnerContainer {
    display: none;
  }
  #skillsInnerContainer {
    display: none;
  }
  #skillsContainer {
    height: 630px;
  }
  #row3 {
    margin-left: 1rem;
  }
}
.box {
  /*border: 1px black solid;*/
}
#htmlPng {
  margin: 0 1rem;
}
#cssPng {
  margin-right: 1rem;
}
#jsPng {
  margin-bottom: 1rem;
}
#sassPng {
  margin: 0 1rem;
}
#reactPng {

}
#phpPng {

}
#jekyllPng {
  /*padding-bottom: 2rem;*/
}
#row3 {
  margin-top: 2rem;
}
#gitPng {
  /*margin-left: 2rem;*/
  margin-right: 9rem;
  margin-left: 3rem;
}
#webpackPng {
  /*margin-left: 8rem;*/
  margin-right: 6rem;
}
#babelPng {
  /*margin-left: 6rem;*/
  /*margin-right: -85;*/
}
@media (max-width: 470px) {
  #mobileWebpack {
    /*
    width: 100px;
    height: 100px;
    */
    margin-left: -30;
  }
}









#educationContainer2 {
  padding: 4rem 1rem;
  height: auto;
  border-bottom: 3px black solid;
}
.textBox {
  width: 300px;
}
.textBox h3 {
  margin-top: 2rem;
  text-align: center;
}
.circleContainer {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 3px black solid;
}
#circle1:hover {
  background-color: #D72D48;
}
#circle2:hover {
  background-color: #2dd748;
  /*
  background-color: #48d72d;
  */
}
#circle3:hover {
  background-color: #2d48d7;
}
.circleContainer img {
  margin-top: .5rem;
}
#universityText {
  font-size: 18px;
  margin-bottom: 5px;
}
#bachelorText {
  margin-bottom: 5px;
  margin-top: 0;
}
#yearText {
  margin: 0;
}
#courses {
  padding-left: 1rem;
}
#certs {
  padding-left: 2rem;
}
@media (max-width: 800px) {
  .textBox {
    width: auto;
    justify-content: space-around;
    /*
    border: 1px black solid;
    box-shadow: 1px 1px 4px;
    */
    border: 2px black solid;
    margin: 0 2rem 3rem 2rem;
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  #educationContainer2 {
    padding: 4rem 1rem 1rem 1rem;
  }
}













#aboutMeContainer2 {
  padding: 4rem 10rem;
  
}

#aboutMeContainer2 img {
  border-radius: 50%;
}
#aboutText2 {
  width: 40%;
  /*
  height: 375px;
  */
  /*
  height: 400px;
  */
  
}
#aboutText2 h2 {
  font-size: 30px;
  font-weight: 400;
}
#aboutText2 p {
  font-size: 19px;
}
#aboutText2 a {
  color: black;
  text-decoration: none;
}
#aboutText2 a:hover {
  text-decoration: underline;
}
#aboutPicContainer {
  /*
  height: 400px;
  */
  
}
#aboutPic {
  
  margin: 10px 0;
  
}
@media (max-width: 1250px) {
  #aboutMeContainer2 {
    padding: 4rem 8rem;
  }
  #aboutPic {
    /*
    margin: 40px 0;
    */
  }
  #aboutText2 {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  #aboutMeContainer2 {
    padding: 4rem 4rem;
  }
}

@media (max-width: 860px) {
  #aboutMeContainer2 {
    display: inline-block;
    padding: 2rem 4rem;
  }
  #aboutText2 {
    /*
    width: 100%;
    */
    width: auto;
    margin-bottom: 2rem;
    /*
    height: 250px;
    */
    display: flex;
    justify-content: space-around;
    /*
    padding: 1rem;
    */
  }
  #aboutTextMobileDiv {
    width: 80%;
  }
  #aboutPicContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 720px) {
  #aboutMeContainer2 {
    padding: 2rem 2rem;
  }
}
@media (max-width: 720px) {
  #aboutMeContainer2 {
    padding: 2rem 0;
  }
}












#contactContainer {
  margin-top: 1rem;
  padding: 2rem 4rem;
  /*border: 1px blue solid;*/
}
#contactBox {
  /*border: 1px black solid;*/
  padding-top: .5rem;
}
#email {
  color: black;
  text-decoration: none;
}
#email:hover {
  text-decoration: underline;
}
#resume {
  text-decoration: none;
}
#resume:hover {
  text-decoration: underline;
}

#widgetDiv {
  /*border: 1px black solid;*/
}
#widgetDiv img {
  margin: 0 1rem;
}

#footer {
  padding-left: 1rem;
  font-size: 14px;
  margin: 1rem 0;
}
#mobileEmail {
  display: none;
  border: 1px black solid;
  width: auto;
  padding: 1rem 1rem;

  color: black;
  text-decoration: none;
  margin: 1rem 0;
  /*
  height: 500px;
  line-height: 500px;
  */
}
/*
#mobileEmail a {
  color: black;
  text-decoration: none;
}
*/
#mobileEmail:hover {
  cursor: pointer;
  background-color: gold;
}
#mobileResume {
  display: none;
  border: 1px black solid;
  width: auto;
  padding: 1rem 1rem;

  color: black;
  text-decoration: none;
  margin: 1rem 0;
}
/*
#mobileResume a {
  color: black;
  text-decoration: none;
}
*/
#mobileResume:hover {
  cursor: pointer;
  background-color: gold;
}

@media (max-width: 930px) {
  #contactContainer {
    text-align: center;
    padding: 2rem 1rem;
  }
  #desktopEmail {
    display: none;
  }
  #desktopResume {
    display: none;
  }
  #mobileEmail {
    display: block;
  }
  #mobileResume {
    display: block;
  }
  #emailContainer a:hover {
    text-decoration: none;
  }
  #resumeContainer {
    border: 1px black solid;
  }
  #contactBox {
    margin-bottom: 2rem;
    font-family: 'Arial';
  }
  #mobileWidgetDiv {
    justify-content: center;
  }
  #footer {
    margin: 2rem 0;
  }
}

.border {
  border: 1px black solid;
}
